<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <li><a class='logo' ui-sref="home">DotaSight</a></li>
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-hide="!user" ui-sref="login" class="btn btn-default login-button">Login</button>
        <button ng-click="openSurvey()" class="btn btn-default survey-button">Provide Us Feedback</button>
        <button ng-click="openModal()" class="btn btn-default login-button">Enter Your Game Info</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>