#home {
  margin-top: 3%;


  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .allies {
    background: skyblue;
    height: 400px;
  }
  .enemies {
    background: lightgoldenrodyellow;
    height: 400px;
    margin-bottom: 1%;
  }
  .heroChoice {
    background: lightgray;
    height: 900px;
    text-align: center;
    input {
      width: 40%;
      margin: 15px 0 20px 20px;
    }
  }
  .eachAlly, .eachEnemy {
    text-align: center;
    float:left;
    width: 20%;
  }
  .playerImage {
    //position:absolute;
    //left:20%;
    //top: 0;
    width:70%;
    height: 150px;
  }
  .eachChoice {
    text-align: center;
    float:left;
  }
  .stats {
    height: 100px;
    background: lightcyan;
    text-align: center;
  }
  .categories{
    margin-bottom: 20px;
  }
  .ready {
    border: 4px solid black;
  }
}

