#home {
  margin-top: 3%;
  max-height: 1000px;

  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .overallStat {
  }
  .heroName {
    color:#f30046;
  }
  .counters {
    border-top: 1px solid skyblue;
    border-bottom: 1px solid skyblue;
    padding: 5px 0;
    h5 {
      color: #f30046;
    }
    span {
      font-size: 12px;
    }
  }
  .allies {
    margin-top: 20px;
    border: 2px solid skyblue;
    height: 400px;
  }
  .enemies {
    border: 2px solid orange;
    height: 400px;
    margin-bottom: 1%;
  }
  .heroChoice {
    border: 2px solid lightgray;
    margin-top: 20px;
    height: 919px;
    text-align: center;
    overflow-y: scroll;
    input {
      width: 40%;
      margin: 15px 0 20px 20px;
    }
  }
  .eachAlly, .eachEnemy {
    text-align: center;
    float:left;
    width: 20%;
    image {
      border: 3px solid;
    }
  }
  .playerImage {
    //position:absolute;
    //left:20%;
    //top: 0;
    width:85%;
    height: 125px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rYcZZ-h7M0cnzgg1Psb-TuerzrZjYDyHruOduTafZi_Rcjco') no-repeat center;
  }
  .eachChoice {
    text-align: center;
    height: 70px;
    padding-right: 12px;
    padding-left: 12px;
    h5{
      position:inherit;
      bottom:26px;
      color: white;
      z-index: 0;
    }
    img{
      width:100%;

    }
  }
  .stats {
    margin: 10px;
    height: 100px;
    text-align: center;
  }
  .categories{
    margin-bottom: 20px;
  }
  .ready {
    border: 4px solid yellowgreen;
  }
  .all {
    padding: 6px 10px 15px 9px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
  }
  .strength {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 6px 10px 15px 40px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
  }
  .agility {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 6px 10px 15px 40px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
  }
  .intelligence {
    background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 6px 10px 15px 40px;
    overflow: visible;
    text-transform: uppercase;
    color: #616363;
    font-size: 16px;
  }
  .playerName {
    color: #f30046;
  }
}


