navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
    border:2px solid skyblue;
    width: 300px;
    margin-right:10px;
  }

  .survey-button {
    float: right;
    margin-top: 8px;
    border:2px solid skyblue;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

.navbar-fixed-top{
  background: #0E1618;
  height: 55px;
  border-bottom: 1px solid #31302F;
}

.logo {
  font-size: 38px;
  margin-right: 30px;
}

.glyphicon-eye-open {
  margin-top: 6px;
  font-size: 38px;
  color: white;
}