<div id="playerPopulate">
    <div>
        <h3>Welcome to DotaSight</h3>
        <h5>This will auto-populate your team and the enemies' data.
        You can copy and paste the entire server_log.txt, or just the last couple lines.</h5>
        <h6><strong>Windows</strong>  C:\Program Files (x86)\Steam\steamapps\common\dota 2 beta\dota\</h6>
        <h6><strong>MAC</strong> /Library/Application Support/Steam/steamapps/common/dota 2 beta/dota</h6>
        <h6><strong>Linux</strong> ~/.steam/root/SteamApps/common/dota 2 beta/dota</h6>
        <div class="userInput">
            <img ng-show="loading" src="https://s-media-cache-ak0.pinimg.com/originals/2b/78/57/2b7857dd05e81cc1ca5782a1f402e3dd.jpg">
            <textarea rows="10" class="log form-control" ng-model= "playerLog.content" type="textarea" placeholder="copy and paste the entire server_log.txt"></textarea>
            <button id="logBtn" class="btn btn-default" ng-click="sendLog(playerLog.content)">Send</button>
        </div>
    </div>
</div>