<section id="home">
    <div class="duel col-xs-7">
        <div class="allies col-xs-12">
            <h4 class="team">RADIANT</h4>
            <div class="eachAlly" ng-repeat="player in playerList1">
                <h4 class="playerName">{{player.user}}</h4>
                <img ng-style="{'border': '2px solid {{colors[player.color]}}'}" ng-click='setChoice(player)' class="playerImage" src="{{player.selectedHero.heroImage}}" />
                <div class="overallStat" ng-if="player.userInfo[0].length && !player.selectedHero">
                    <h6><b>LastMatch:</b> {{player.userInfo[0]}}</h6>
                    <h6><b>W-L-A:</b> {{player.userInfo[1]}}-{{player.userInfo[2]}}-{{player.userInfo[3]}}</h6>
                    <h6><b>Win %:</b> {{getPercentage(player.userInfo[1],player.userInfo[2])}}</h6>
                </div>
                <div ng-if="!player.userInfo[0].length">
                    <h6>This user's info is not available</h6>
                    <div ng-if="player.selectedHero" class="counters">
                        <h5>Counters</h5>
                        <span>{{player.selectedHero.proficiency[0].name}}</span>
                        <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[1].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[2].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                    </div>
                </div>
                <div ng-if="player.userInfo[0].length && player.selectedHero">
                    <h6 ng-if="player.hasOwnProperty('tempMessage')">{{player.tempMessage}}</h6>
                    <h5 class="heroName" ng-if="player.hasOwnProperty('tempHeroName')">{{player.tempHeroName}}</h5>
                    <h6 ng-if="player.hasOwnProperty('tempGames')"><b>Games:</b> {{player.tempGames}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempkda')"><b>KDA:</b> {{player.tempKda}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempWinRate')"><b>WR:</b> {{(player.tempWinRate >= 0) ? ((player.tempWinRate).toFixed(2)*100).toFixed(2) : "N/A" }}%</h6>
                    <div class="counters">
                        <h5>Counters</h5>
                        <span>{{player.selectedHero.proficiency[0].name}}</span>
                        <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[1].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[2].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                    </div>
                </div>
                <!--Another ng-if to show selectedHero specific data here-->
            </div>
        </div>
        <div class="stats col-xs-12">
            <h3>Radiant currently has a {{(winRate *100).toFixed(2)}} % advantage</h3>
        </div>
        <div class="enemies col-xs-12">
            <h4 class="team">DIRE</h4>
            <div class="eachEnemy" ng-repeat="player in playerList2">
                <h4 class="playerName">{{player.user}}</h4>
                <img ng-style="{'border': '2px solid {{colors[player.color]}}'}" ng-click='setChoice(player)' class="playerImage" src="{{player.selectedHero.heroImage}}" />
                <div class="overallStat" ng-if="player.userInfo[0].length && !player.selectedHero">
                    <h6><b>LastMatch:</b> {{player.userInfo[0]}}</h6>
                    <h6><b>W-L-A:</b> {{player.userInfo[1]}}-{{player.userInfo[2]}}-{{player.userInfo[3]}}</h6>
                    <h6><b>Win %:</b> {{getPercentage(player.userInfo[1],player.userInfo[2])}}</h6>
                </div>
                <div ng-if="!player.userInfo[0].length">
                    <h6>This user's info is not available</h6>
                    <div ng-if="player.selectedHero" class="counters">
                        <h5>Counters</h5>
                        <span>{{player.selectedHero.proficiency[0].name}}</span>
                        <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[1].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[2].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                    </div>
                </div>
                <div ng-if="player.userInfo[0].length && player.selectedHero">
                    <h6 ng-if="player.hasOwnProperty('tempMessage')">{{player.tempMessage}}</h6>
                    <h5 class="heroName" ng-if="player.hasOwnProperty('tempHeroName')">{{player.tempHeroName}}</h5>
                    <h6 ng-if="player.hasOwnProperty('tempGames')"><b>Games:</b> {{player.tempGames}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempkda')"><b>KDA:</b> {{player.tempKda}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempWinRate')"><b>WR:</b> {{(player.tempWinRate >= 0) ? ((player.tempWinRate).toFixed(2)*100).toFixed(2) : "N/A" }}%</h6>
                    <div class="counters">
                        <h5>Counters</h5>
                        <span>{{player.selectedHero.proficiency[0].name}}</span>
                        <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[1].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                        <span>{{player.selectedHero.proficiency[2].name}}</span>
                        <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heroChoice col-xs-5">
        <div class="col-xs-12">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <input class="form-input" placeholder="search" ng-model="query"/>
        </div>
        <div class="categories">
            <button ng-class="{'ready': currentCategory==='all'}" type="button" ng-click="setCategory('all')" class="all btn btn-default">All</button>
            <button ng-class="{'ready': currentCategory==='strength'}" type="button" ng-click="setCategory('strength')" class="strength btn btn-default">Strength</button>
            <button ng-class="{'ready': currentCategory==='agility'}" type="button" ng-click="setCategory('agility')" class="agility btn btn-default">Agility</button>
            <button ng-class="{'ready': currentCategory==='intelligence'}" type="button" ng-click="setCategory('intelligence')" class="intelligence btn btn-default">Intelligence</button>
        </div>
        <div class="col-xs-3 eachChoice" ng-show="currentCategory==='all' || choice.heroType===currentCategory" ng-repeat="choice in choices | filter: search" ng-click="setHero(choice)">
            <img ng-class="{'ready': fillingHero.heroImage===choice.heroImage}" src="{{choice.heroImage}}"/>
            <h5>{{choice.heroName}}</h5>
            <!--<form ng-submit="editInfo(choice)">-->
                <!--<input type="text" placeholder="image" ng-model="choice.heroImage"/>-->
                <!--<input type="text" placeholder="Type" ng-model="choice.heroType"/>-->
                <!--<input type="text" placeholder="categories" ng-model="choice.categories"/>-->
                <!--<input type="text" placeholder="order" ng-model="choice.order"/>-->
                <!--<button>edit</button>-->
            <!--</form>-->
        </div>
    </div>
</section>
