<section id="home">
    <div class="duel col-xs-7">
        <div class="allies col-xs-12">
            <div class="eachAlly" ng-style="{'background-color': colors[player.color]}" ng-repeat="player in playerList1">
                <h3>{{player.user}}</h3>
                <img ng-click='setChoice(player)' class="playerImage" src="{{player.selectedHero.heroImage}}" />
                <div ng-if="player.userInfo[0].length && !player.selectedHero">
                    <h6>LastMatch: {{player.userInfo[0]}}</h6>
                    <h6>W-L-A: {{player.userInfo[1]}}-{{player.userInfo[2]}}-{{player.userInfo[3]}}</h6>
                    <h6>Win %: {{getPercentage(player.userInfo[1],player.userInfo[2])}}</h6>
                </div>
                <div ng-if="!player.userInfo[0].length">
                    <h5>This user's info is not available</h5>
                </div>
                <div ng-if="player.userInfo[0].length && player.selectedHero">
                    <h6 ng-if="player.hasOwnProperty('tempMessage')">{{player.tempMessage}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempHeroName')">{{player.tempHeroName}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempGames')">Games: {{player.tempGames}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempkda')">KDA: {{player.tempKda}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempWinRate')">WR: {{(player.tempWinRate) ? ((player.tempWinRate).toFixed(2)*100).toFixed(2) : "N/A" }}%</h6>
                    <h6>Counters</h6>
                    <span>{{player.selectedHero.proficiency[0].name}}</span>
                    <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                    <span>{{player.selectedHero.proficiency[1].name}}</span>
                    <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                    <span>{{player.selectedHero.proficiency[2].name}}</span>
                    <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                </div>
                <!--Another ng-if to show selectedHero specific data here-->
            </div>
        </div>
        <div class="stats col-xs-12">
            <h3>Radiant currently has a {{(winRate *100).toFixed(2)}} % {{ (winRate >= 0 ? "advantage" : "disadvantage")}}</h3>
        </div>
            <div class="eachEnemy" ng-style="{'background-color': colors[player.color]}" ng-repeat="player in playerList2">
                <h3>{{player.user}}</h3>
                <img ng-click='setChoice(player)' class="playerImage" src="{{player.selectedHero.heroImage}}" />
                <div ng-if="player.userInfo[0].length && !player.selectedHero">
                    <h6>LastMatch: {{player.userInfo[0]}}</h6>
                    <h6>W-L-A: {{player.userInfo[1]}}-{{player.userInfo[2]}}-{{player.userInfo[3]}}</h6>
                    <h6>Win %: {{getPercentage(player.userInfo[1],player.userInfo[2])}}</h6>
                </div>
                <div ng-if="!player.userInfo[0].length">
                    <h5>This user's info is not available</h5>
                </div>
                <div ng-if="player.userInfo[0].length && player.selectedHero">
                    <h6 ng-if="player.hasOwnProperty('tempMessage')">{{player.tempMessage}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempHeroName')">{{player.tempHeroName}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempGames')">Games: {{player.tempGames}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempkda')">KDA: {{player.tempKda}}</h6>
                    <h6 ng-if="player.hasOwnProperty('tempWinRate')">WR: {{(player.tempWinRate) ? ((player.tempWinRate).toFixed(2)*100).toFixed(2) : "N/A" }}%</h6>
                    <h6>Counters</h6>
                    <span>{{player.selectedHero.proficiency[0].name}}</span>
                    <span> (Adv: {{(player.selectedHero.proficiency[0].advantage*100).toFixed(2)}}%)</span><br/>
                    <span>{{player.selectedHero.proficiency[1].name}}</span>
                    <span>(Adv: {{(player.selectedHero.proficiency[1].advantage*100).toFixed(2)}}%)</span><br/>
                    <span>{{player.selectedHero.proficiency[2].name}}</span>
                    <span>(Adv: {{(player.selectedHero.proficiency[2].advantage*100).toFixed(2)}}%)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="heroChoice col-xs-5">
        <h1>This is heroChoice</h1>
        <div class="col-xs-12">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <input class="form-input" placeholder="search" ng-model="query"/>
        </div>
        <div class="categories">
            <button ng-class="{'ready': currentCategory==='all'}" type="button" ng-click="setCategory('all')" class="all btn btn-default">All</button>
            <button ng-class="{'ready': currentCategory==='strength'}" type="button" ng-click="setCategory('strength')" class="strength btn btn-default">Strength</button>
            <button ng-class="{'ready': currentCategory==='agility'}" type="button" ng-click="setCategory('agility')" class="agility btn btn-default">Agility</button>
            <button ng-class="{'ready': currentCategory==='intelligence'}" type="button" ng-click="setCategory('intelligence')" class="intelligence btn btn-default">Intelligence</button>
        </div>
        <div class="col-xs-3 eachChoice" ng-show="currentCategory==='all' || choice.heroType===currentCategory" ng-repeat="choice in choices | filter: search" ng-click="setHero(choice)">
            <img ng-class="{'ready': fillingHero.heroImage===choice.heroImage}" src="{{choice.heroImage}}"/>
            <h5>{{choice.heroName}}</h5>
            <!--<form ng-submit="editInfo(choice)">-->
                <!--<input type="text" placeholder="image" ng-model="choice.heroImage"/>-->
                <!--<input type="text" placeholder="Type" ng-model="choice.heroType"/>-->
                <!--<input type="text" placeholder="categories" ng-model="choice.categories"/>-->
                <!--<input type="text" placeholder="order" ng-model="choice.order"/>-->
                <!--<button>edit</button>-->
            <!--</form>-->
        </div>
    </div>
</section>
